body{
text-align: center;
background-image: url("JHB.jpg");
background-size: cover;

}

#h1{
margin-top: 0px;
background-color: rgb(46, 41, 41);
color: rgb(0, 255, 255);

height: 167px;
}

#b1{
    float:right;
    background-color: black;
    color: rgb(234, 0, 255);
    border: 5px ridge darkcyan;
    font-size: 25px;
}

#div1{
    text-align: left;
    width:100%;
}

#start,#status{
    font-size: 22px;
    }